body {
    font-family: Arial, sans-serif;
    background: #dde3e9;
    margin: 0;
    padding: 20px;
}

/* Card (Login) */

.card {
    max-width: 350px;
    margin: 70px auto;
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.15);
    animation: popIn .4s ease;
}

@keyframes popIn {
    from { transform: scale(0.9); opacity: 0; }
    to   { transform: scale(1); opacity: 1; }
}

/* Notes */

.note {
    background: white;
    padding: 18px;
    margin-top: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    position: relative;
    animation: fadeIn .4s ease;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to   { opacity: 1; transform: translateY(0); }
}

.deleteBtn {
    background: #ef4444;
    padding: 8px 12px;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.deleteBtn:hover {
    background: #dc2626;
}

/* Textbox */

#noteContent {
    width: 100%;
    height: 120px;
    padding: 15px;
    border-radius: 12px;
    border: 1px solid #bbb;
    background: white;
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
}
